body{
  padding: 0;
  margin: 0 auto;
  background-color: #1C2541;
  color:#fff;
  font-family: 'Lato', sans-serif;
}

.navigation-bar {
    list-style: none;
    display: inline-block;
    color: #fff;
  }

.navigation-bar li {
    display: inline;
    margin: 10px;
  }

.nav{
   background-color: rgba(28, 37, 65, 0.8);
   display: flex;
}
#logo{
 font-size: 2.5rem;
}

.nav__item{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

main{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.section{
  height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width:1100px){
  .section{
    max-width: 70%;
  }
}

.header{
  background-image: linear-gradient(rgba(28, 37, 65, 0.5), rgba(28, 37, 65, 0.5)), url("https://www.desktopbackground.org/download/1024x768/2010/09/12/78894_hacking-program-wallpapers-desktop_1920x1080_h.jpg");
  max-width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__hidden{
  display: none;
}

.header__text{
  font-size: 4rem;
  text-shadow: -3px 3px 0 #1C2541;
}

.header__subtitle {
  font-size: 2rem;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__content{
  line-height: 2rem;
  padding: 2rem;
  font-size: 1rem;
  max-width: 80%;
}
#team h2{
  margin: 100px 0px;
}

.membername{
  font-size: 2rem;
}

.memberrole{
  font-size: 1.5rem;
}

.teamctr{
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
}

.teamctr__member{
  /* background: gray; */
  margin: 15px 0;
}

.teamctr__member a {
  display: inline-block;
  margin: 10px;
}


.teamctr__member img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}


@media only screen and (min-width: 768px) {
  .teamctr{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .teamctr__member{
  max-width: 46%;
  margin: 15px 1%;
  }
}

@media only screen and (min-width: 700px) {
  .teamctr{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .teamctr__member{
  max-width: 23%;
  margin:1%;
  }
}

@media only screen and (max-width: 1100px) {
  .svg-container{
    visibility:hidden;
  }
}



/* Individual section ids */
#header {
  /* background-color: #183446; */
}

=======
#about {
  /* background-color: #046E8F; */
}

#team {
  /* background-color: #1B3B6F; */
  height: auto;
}
#contact {
  /* background-color: #0090C1; */
}

#contact h2 {
  margin: 100px 0px;
}


  .nav__link, .team__link {
   text-decoration: none;
   color:#fff;
  }
  .nav__link :link, .team__link :link {
    color: #fff;
  }
  .nav__link :visited, .team__link :visited {
    color: #fff;
  }
  .nav__link :hover, .team__link :hover{
    color: #fff;
    cursor: pointer;
  }
  .nav__link :active {
    color: #fff;
  }



  /*Styles for the contact form*/

  .form-container{
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    /* box-shadow: 0 10px 10px rgba(0,0,0,.2); */
    border-radius: 10px;
  }
  .form-container h2{
    text-align: center;
    margin: 0 0 30px;
    color: #fff;
  }
  .form-container__input-container{
    position: relative;
  }
  .form-container__input-container input{
    width: 100%;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    outline: none;
  }
  .form-container__input-container label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 3px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
  }
  .form-container__input-container input:focus ~ label,
  .form-container__input-container input:valid ~ label{
    top:-29px;
    left:0;
    color: #fff;
    font-size: 14px;
  }
  .form__input-submit{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    background-color: #1C2541;
    outline:none;
  }
  .form__input-submit:hover{
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
  }

  .form__input-submit:active{
    transform: scale(1.03);
  }

  .logo{
    transform-origin: 50% 50%;
    animation:spin 14s linear infinite;
  }
  @keyframes spin { 100% {transform: rotate(360deg); } }
